.row-fluid
	%h4.page-header What's Countrify
	%p Deadly simple visitor tracking by country only. It does nothing, just store data into MongoDB then use gchart api to render the plot.

	%h4.page-header How to Use
	%p Very simple. Just include this code: 
	%code
		&lt;img src="http://countrify.herokuapp.com/your_api_key/hit?s=WxH" alt= Countrify Tracking" /&gt;

	%h4.page-header Live Example
	%img{ :src => "http://countrify.herokuapp.com/countrify/hit?s=500x500", :width => "500", :height => "500",:alt => "Live demo of Countrify Tracking" }

	%form.form-horizontal
		.control-group
			%label.control-label
				Your domain
			.controls
				%input.input-xxlarge{:type => 'text'}		
		.control-group
			.controls
				%button.btn#apikey-gen{:type => 'submit'} Give me an API KEY		

%script

			