!!! 5
%html{:lang => 'en'}
	%head 
	
		%title Countrify
		%link{:href => url('/css/style.css'), :rel => 'stylesheet', :media => 'screen, projection'}
		%link{:href => url('/bootstrap/css/bootstrap.css'), :rel => 'stylesheet', :media => 'screen, projection'}
	%body.page-index
		.container-fluid
			= yield

		%footer.footer.container-fluid
			%hr
			%p.pull-right
				%a{:href => url('/')} Back to top
			%p 
				Designed and built with love, blood&amp; tear by 
				%a{:href => 'http://axcoto.com'} kureikain. 
			%p	
				With the help of 
				%a{:href => 'http://twitter.github.com/bootstrap/'} Bootstrap
				and
				%a{:href => 'http://twitter.github.com/bootstrap/'} Sinatra
				Host on
				%a{:href => 'http://heroku.com'} Heroku
			%p
				Help me 
				%a{:href => 'https://github.com/kureikain/countrify'} make it better
		
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
		%script{:src => "js/jquery.zclip.js"}
		%script{:src => "js/app.js"}